# Symfony2
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/build/
/vendor/
/composer.phar
composer.lock

# Cache, session files and logs (Symfony3)
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

# Symfony2 configuration files
app/config/parameters.ini
app/config/parameters.yml

# PHPStorm
.idea/
